<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns        = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id      = "com.zsly.app" <!-- 注释：应用唯一ID -->
 
    version     = "1.0.0"> <!-- 注释：应用版本-->
 
 
    <name>掌上龙岩</name><!-- 注释：应用名称，显示在移动终端桌面上和应用Logo一起 -->
 
    <description><!-- 注释：应用描述 -->
        掌上龙岩客户端
    </description>
 
    <author href="http://www.kinglandec.com" email="info.kinglandec.com"> 
         KLEC.com <!-- 注释：作者信息 --> </author>
    </author>
 
    <gap:platforms> <!-- 注释：支持平台 -->
        <gap:platform name="android" minVersion="2.1" />
        <gap:platform name="webos" />
        <gap:platform name="winphone" />
        <gap:platform name="symbian.wrt" />
        <gap:platform name="blackberry" project="widgets"/>
    </gap:platforms>
    <icon src="res/drawable-hdpi/icon.png" gap:role="default" /> <!-- 注释：应用Logo，显示在移动终端桌面上和应用名称一起 -->
    <gap:splash src="res/drawable-hdpi/splash.png"/> <!-- 注释： 程序启动时显示图像-->
    <!--  程序需使用的Anbdroid权限
    <feature name="http://api.phonegap.com/1.7/geolocation"/>
    <feature name="http://api.phonegap.com/1.7/network"/>
    -->
</widget>
